<div class="govco-footer">
  <div class="row govco-portales-contenedor m-0">
    <div class="col-4 govco-footer-logo-portal">
      <div class="govco-logo-container-portal">
        <span class="govco-logo"></span>
        <span class="govco-separator"></span>
        <span class="govco-co"></span>
      </div>
    </div>
    <div class="col-4 govco-info-datos-portal">
      <div class="govco-separator-rows"></div>
      <div class="govco-texto-datos-portal">
        <p class="govco-text-header-portal-1">Nombre completo del portal</p>
        <p>
          Dirección: <br class="govco-mostrar" />
          xxxxxx xxx xxx <br class="govco-mostrar" />
          Departamento y municipio. <br />
          Código Postal: xxxx <br />
          <br class="govco-mostrar" />
          Horario de atención: <br class="govco-mostrar" />
          Lunes a viernes xx:xx a.m. - xx:xx p.m.
        </p>
      </div>
      <div class="govco-network extramt-network">
        <div class="govco-iconContainer">
          <span class="icon-portal govco-twitter-square"></span>
          <span class="govco-link-portal">&#64;Entidad</span>
        </div>
        <div class="govco-iconContainer">
          <span class="icon-portal govco-instagram-square"></span>
          <span class="govco-link-portal">&#64;Entidad</span>
        </div>
        <div class="govco-iconContainer">
          <span class="icon-portal govco-facebook-square"></span>
          <span class="govco-link-portal">&#64;Entidad</span>
        </div>
      </div>
    </div>

    <div class="col-4 govco-info-telefonos">
      <div class="govco-separator-rows"></div>
      <div class="govco-texto-telefonos">
        <p class="govco-text-header-portal-1">
          <span class="govco-phone-alt"></span>
          Contacto
        </p>
        <p>
          Teléfono <br class="govco-mostrar" />
          conmutador: <br class="govco-mostrar-inv" />
          +57(xx) xxx xx xx <br />
          Línea gratuita: 01-800-xxxxxxxx <br />
          Línea anticorrupción: 01-800-xxxxxxxx <br />
          Correo institucional: <br />
          entidad&#64;entidad.gov.co
        </p>
      </div>

      <div class="govco-links-portal-container">
        <div class="col-12 m-0 mt-2">
          <a class="govco-link-portal" href="#">Políticas</a>
          <a class="govco-link-portal" href="#">Mapa del sitio</a>
        </div>
        <div class="col-12 m-0 mt-2">
          <a class="govco-link-portal" href="#">Términos y condiciones</a>
          <br />
        </div>
        <div class="col-12 m-0 mt-2">
          <a class="govco-link-portal" href="#">Accesibilidad</a>
        </div>
      </div>
    </div>
  </div>
</div>
